<h1>Publicar Noticia</h1>

<form action="/salvarnoticia" method="post">
<p>Titulo</p>
<input type="text" name="titulo">
</br>
</br>
<p>Conteudo</p>
<input type="text" name="conteudo">
</br>
</br>
<p>Categoria</p>
<input type="text" name="categoria">
<button type="submit">Enviar</button>

</form>