

.titulo {
    color: black;
    text-decoration: none;
    margin-left: 100px;
    
}

.conteudo {
    color: black;
    margin-left: 100px
}

.categoria {
    color: black;
    text-decoration: none;
    margin-left: 100px
}

.deleta {
    color: black;
    margin-left: 100px
}

.Noticias {
    padding-top: 100px;
    text-align: center;
}

.categoria {
    margin-left: 100px;
    text-decoration: none;
}
