<title>{{Noticias.titulo}}</title>
<link rel='stylesheet' href='/css/teste.css' />

<div class="Noticias">
<h1>{{Noticias.titulo}}</h1>
<p>{{Noticias.conteudo}}</p>
<p>{{Noticias.categoria}}</p>
</div>